.card-title{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}
.card{
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-row-gap: 30px;
}
.card img{
    width: 230px;
    margin-top: 10px;
    border-radius: 5px;
}