.home-page{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
    margin-left: 30px;
    margin-right: 30px;
}
.home-page img{
    width: 500px;
    border-radius: 10px;
}
.button{
    color: aliceblue;
    font-size: large;
    font-weight: 600;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: rgb(243, 72, 160);;
    cursor: pointer;
    transition: 0.5s;
}
.button:hover{
    background-color: rgb(41, 165, 74);;
}
.review-title{
    margin-top: 70px;
    margin-bottom: 50px;
    text-align: center;
}
.card{
    text-align: center;
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-row-gap: 30px;
}
.card img{
    width: 230px;
    margin-top: 10px;
    border-radius: 5px;
}
.review-btn{
    text-align: center;
    margin-bottom: 30px;
}