.menu{
    margin-top: 25px;
    text-align: center;
}
.nav-link{
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-right: 35px;
    padding: 5px 10px;
    
}
.nav-link:hover{
    border-bottom: 7px solid slateblue;
    box-shadow: 5px 5px 25px grey;
    padding: 5px 10px;
    border-radius: 10px;
}